body {
    font-family: Roboto, "Noto Sans JP", sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 55px;
    background: #000;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.button:hover {
    background: #442606;
    color: #fff;
}

@media (max-width: 992px) {
    .button {
        width: 150px;
        height: 55px;
    }
}

@media (max-width: 768px) {
    .button {
        width: 180px;
        height: 45px;
    }
}

.assignment-example-button {
    color: red;
    font-size: 16px;
    background: url(./img/card-2.jpg);
}

.card {
    border: none;
}

.card .card-img {
    border-radius: 0;
    overflow: hidden;
}

.card .card-img .img-flg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid #fff;
    border-bottom: 150px solid transparent;
}

@media (min-width: 992px) {
    .card .card-img .card-img-top {
        position: relative;
        transition: 0.5s ease;
    }
    .card .card-img .card-img-top:hover {
        overflow: hidden;
        transform: scale(1.1);
    }
}

.card .card-title {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    color: #442606;
    font-size: 20px;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #f5f5f5;
}

.card .card-body .card-text {
    font-size: 14px;
    line-height: 33px;
}

.card .card-body .card-button {
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-top: auto;
}

.message_outer {
    text-align: center;
    padding: 52px 20px;
}

@media (max-width: 992px) {
    .message_outer {
        padding: 32px 20px;
    }
}

.message_outer .message_title {
    font-family: "Noto Serif JP", serif;
    font-style: normal;
    font-weight: 400;
    word-wrap: break-word;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    .message_outer .message_title {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 6px;
    }
}

.message_outer .message_content {
    font-style: normal;
    font-weight: 400;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 36px;
}

@media (max-width: 992px) {
    .message_outer .message_content {
        line-height: 28px;
    }
}

.news-and-events-more {
    cursor: pointer;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s ease;
    display: inline-flex;
    gap: 16px;
    align-items: center;
}

.news-and-events-more:hover {
    color: #999;
}

.news-and-events-title>h2 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: "Noto Serif JP", serif;
    margin-bottom: 32px;
}

@media (min-width: 992px) {
    .news-and-events-title>h2 {
        font-size: 40px;
    }
}

.news-and-events-title>h2 .caption {
    font-size: 16px;
    font-family: Roboto, "Noto Sans JP", sans-serif;
    font-weight: 400;
    margin-left: 16px;
}

.about {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width: 992px) {
    .about {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.about .img-grid {
    display: grid;
    grid-template-rows: 298px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1200px) {
    .about .img-grid {
        grid-template-rows: 240px;
    }
}

@media (max-width: 992px) {
    .about .img-grid {
        grid-template-rows: 350px 350px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 992px) and (max-width: 768px) {
    .about .img-grid {
        grid-template-rows: 270px 270px;
    }
}

.about .img-grid .img-item1 {
    background-image: url(./img/about-1.jpg);
    background-size: cover;
}

.about .img-grid .img-item2 {
    background-image: url(./img/about-2.jpg);
    background-size: cover;
}

.about .img-grid .img-item3 {
    background-image: url(./img/about-3.jpg);
    background-size: cover;
}

.about .img-grid .img-item4 {
    background-image: url(./img/about-4.jpg);
    background-size: cover;
}

.about .message_outer {
    width: 100%;
    background-color: #f5f5f5;
}

.about .message_outer .message_title {
    color: #442606;
}

.plan {
    text-align: center;
    overflow-wrap: break-word;
    font-size: 14px;
    margin-bottom: 24px;
}

.plan .list {
    border-top: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-left: solid 1px #ddd;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.plan .list li {
    border-bottom: solid 1px #ddd;
    padding: 20px;
}

.plan .list li:nth-child(1) {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background-color: #a19283;
}

.plan .list li:nth-child(2) {
    background-color: #ece9e6;
    color: #000;
}

.plan .list li:nth-child(2) p {
    font-size: 20px;
    color: #442606;
}

.plan .list li:nth-child(2) p span {
    font-size: 40px;
    font-weight: 700;
    margin-left: 4px;
    font-size: 40px;
    line-height: 58px;
}

.plan:nth-child(even) .list {
    box-sizing: border-box;
    border: solid 5px #442606;
}

.plan:nth-child(even) .list li:nth-child(1) {
    color: #fff;
    background-color: #442606;
    padding-top: 15px;
}

.plan:nth-child(even) .list li:last-child {
    padding-bottom: 16px;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    gap: 24px;
}

@media (max-width: 768px) {
    .cards {
        display: block;
        padding-bottom: 0;
        gap: 40px;
    }
}

.cards .card {
    flex: 1;
}

.events {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media (min-width: 992px) {
    .events {
        margin-bottom: 0;
    }
}

.events .event-list {
    margin-bottom: 30px;
}

.events .event-list .event-card>a {
    height: 80px;
    display: flex;
    text-decoration: none;
}

.events .event-list .event-card>a .event-thumbnail {
    display: none;
    width: 207px;
    overflow: hidden;
}

.events .event-list .event-card>a .event-thumbnail img {
    height: 100%;
    transition: transform 0.5s ease;
}

.events .event-list .event-card>a:hover .event-thumbnail img {
    transform: scale(1.2);
}

.events .event-list .event-card>a .event-caption {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px 16px;
}

.events .event-list .event-card>a .event-caption>h3 {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    width: 100%;
}

@media (min-width: 992px) {
    .events .event-list .event-card>a .event-caption>h3 {
        white-space: normal;
    }
}

.events .event-list .event-card>a .event-caption .posted-at {
    color: #999;
    font-size: 12px;
}

@media (min-width: 992px) {
    .events .event-list .event-card>a {
        height: 134px;
    }
    .events .event-list .event-card>a .event-thumbnail {
        display: block;
    }
    .events .event-list .event-card>a .event-caption {
        width: calc(100% - 207px);
        padding: 0 24px;
    }
}

.events .event-list .event-card:not(:first-child)>a .event-caption {
    border-top: none;
}

.events .news-and-events-more {
    align-self: flex-end;
}

footer .footer-body {
    text-align: center;
    padding: 52px 20px;
    border-bottom: solid 1px #999;
}

@media (max-width: 768px) {
    footer .footer-body {
        padding: 32px 0;
    }
}

footer .footer-body .footer-logo img {
    width: 150px;
    height: 25.7px;
    margin-bottom: 20px;
}

footer .footer-body p {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 20px;
}

footer .footer-body .icon-sets {
    display: flex;
    justify-content: center;
    gap: 14px;
}

footer .footer-body .icon-sets a {
    color: #000;
}

footer .footer-body .icon-sets a i {
    transition: 0.2s ease;
}

footer .footer-body .icon-sets a i:hover {
    color: #999;
}

footer .footer-nav {
    font-size: 14px;
    color: #000;
    background-color: #f5f5f5;
    padding: 16px;
}

footer .footer-nav .footer-nav-list {
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 8px;
}

@media (max-width: 768px) {
    footer .footer-nav .footer-nav-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 0;
    }
}

footer .footer-nav .footer-nav-list li {
    padding-right: 8px;
    border-right: solid 1px;
    transition: 0.2s ease;
}

footer .footer-nav .footer-nav-list li:hover {
    color: #442606;
}

footer .footer-nav .footer-nav-list li:last-child {
    border-right: none;
}

@media (max-width: 768px) {
    footer .footer-nav .footer-nav-list li {
        border: none;
    }
}

footer .footer-nav .footer-nav-list li a {
    text-decoration: none;
    color: #000;
    line-height: 20px;
}

footer .footer-nav .footer-nav-list li a:hover {
    color: #442606;
}

footer .footer-bottom {
    display: block;
    color: #fff;
    background-color: #000;
    text-align: center;
    padding: 16px 0;
    font-size: 12px;
    width: 100%;
}

.navbar {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
}

@media (max-width: 1200px) {
    .navbar {
        height: 60px;
        background-color: #000;
        padding: 10px 0;
    }
}

.navbar .navbar-brand img {
    width: 140px;
    margin-left: 30px;
}

@media (max-width: 1200px) {
    .navbar .navbar-brand img {
        width: 120px;
        margin-left: 16px;
    }
}

.navbar .navbar-toggler {
    border: none;
    margin-right: 16px;
    width: 15px;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    width: 15px;
    background-image: url(./img/humberger-bar.svg);
}

.navbar #navbarSupportedContent {
    margin-right: 30px;
}

@media (max-width: 1200px) {
    .navbar #navbarSupportedContent {
        margin-right: 0;
        background-color: #000;
    }
}

.navbar #navbarNavDropdown {
    display: block;
}

@media (max-width: 1200px) {
    .navbar #navbarNavDropdown .navbar-nav .nav-item .nav-link {
        background-image: url(./img/plus.svg);
        background-repeat: no-repeat;
        background-position: 98.5%;
    }
}

.navbar .nav-item {
    font-size: 14px;
}

.navbar .nav-item .nav-link {
    display: block;
    padding: 35px 20px;
    color: #fff;
    width: 100%;
}

@media (max-width: 1200px) {
    .navbar .nav-item .nav-link {
        padding: 15px 16px;
        height: 50px;
    }
}

@media (min-width: 1200px) {
    .navbar .nav-item .nav-link:hover {
        color: #999;
    }
}

.navbar .dropdown-menu {
    font-size: 14px;
    border: none;
    background-color: #000;
    padding: 0;
    margin-top: -1px;
    border-radius: 0;
    width: 220px;
}

.navbar .dropdown-menu .dropdown-item {
    padding: 18px;
    transition: 0.2s ease;
    color: #fff;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: #442606;
}

@media (max-width: 1200px) {
    .navbar .dropdown-menu .dropdown-item {
        padding: 15px 16px 15px 28px;
        background-color: #000;
    }
    .navbar .dropdown-menu .dropdown-item:hover {
        background-color: #000;
    }
}

.plans {
    padding-top: 56px;
    padding-bottom: 100px;
}

@media (max-width: 768px) {
    .plans {
        padding-bottom: 35px;
    }
}

.plans .message_outer {
    padding-top: 0;
    padding-bottom: 32px;
}

@media (max-width: 768px) {
    .plans .message_outer {
        padding-bottom: 56px;
    }
}

.plans .message_outer .message_title {
    color: #442606;
}

.plans .plans-content {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    gap: 25px;
}

@media (max-width: 768px) {
    .plans .plans-content {
        display: block;
        margin-bottom: 24px;
    }
}

.plans .plans-content .plan {
    width: 100%;
}

.plans .button-wrap {
    display: flex;
    justify-content: center;
}

.news .news-and-events-title h2 {
    font-size: 40px;
}

.news .news-and-events-title h2 .caption {
    font-size: 16px;
}

@media (max-width: 992px) {
    .news .news-and-events-title h2 {
        font-size: 20px;
    }
    .news .news-and-events-title h2 .caption {
        font-size: 16px;
    }
}

.news .content {
    background-color: #fff;
    margin-bottom: 30px;
}

.news .content .news-link {
    text-decoration: none;
}

.news .content .news-link .news-list {
    border: solid 1px #ddd;
    background-color: #fff;
    text-overflow: hidden;
    padding: 20px 26px 4px 20px;
    height: 80.4px;
}

.news .content .news-link .news-list time {
    color: #999;
    font-size: 12px;
    padding: 0 0 10px 0;
}

.news .content .news-link .news-list .info {
    color: #000;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    transition: transform 0.2s ease;
}

.news .content .news-link .news-list:hover .info {
    color: #442606;
}

.news .content .news-link:not(:first-child) .news-list {
    border-top: none;
}

.news .news-and-events-more {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.top .top-image {
    display: grid;
    width: 100%;
    height: 100vh;
    background-image: url(./img/top.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-items: center;
    align-items: center;
}

@media (max-width: 992px) {
    .top .top-image {
        height: 360px;
    }
}

.top .top-image p {
    writing-mode: vertical-rl;
    color: #fff;
    font-size: 36px;
    font-family: "Noto Serif JP", serif;
    margin: 0;
    line-height: 46px;
    font-weight: 400;
}

@media (max-width: 992px) {
    .top .top-image p {
        font-size: 20px;
        line-height: 30px;
    }
}

.top .message_outer {
    color: #fff;
    background-color: #000;
}

.news-and-events {
    padding: 56px 0;
    display: flex;
    box-sizing: border-box;
    gap: 40px;
    background-color: #f5f5f5;
}

@media (max-width: 992px) {
    .news-and-events {
        flex-flow: column;
        gap: 35px;
    }
}

.news-and-events .news {
    flex: 1;
    word-wrap: break-word;
    min-width: 0;
}

@media (max-width: 992px) {
    .news-and-events .news {
        width: 100%;
    }
}

.news-and-events .events {
    flex: 1;
}

@media (max-width: 992px) {
    .news-and-events .events {
        width: 100%;
    }
}