<div class="plan">
    <ul class="list">
        <li>プランテキスト</li>
        <li>
            <p>¥<span>5,000</span></p>
            月額<br />
        </li>
        <li>入会金0円</li>
        <li>平日 : 9時〜17時</li>
        <li>土日祝 : 利用ナシ</li>
        <li>コアタイムでの利用に最適なプラン</li>
    </ul>
</div>
<div class="plan">
    <ul class="list">
        <li>プランテキスト</li>
        <li>
            <p>¥<span>5,000</span></p>
            月額<br />
        </li>
        <li>入会金0円</li>
        <li>平日 : 9時〜17時</li>
        <li>土日祝 : 利用ナシ</li>
        <li>コアタイムでの利用に最適なプラン</li>
    </ul>
</div>