<div class="plan">
    <table class="table">
        <tr>
            <td>プランテキスト</td>
        </tr>
        <tr>
            <td>
                <p>¥<span>5,000</span></p>
                月額<br />
            </td>
        </tr>
        <tr>
            <td>入会金0円</td>
        </tr>
        <tr>
            <td>平日 : 9時〜17時</td>
        </tr>
        <tr>
            <td>土日祝 : 利用ナシ</td>
        </tr>
        <tr>
            <td>コアタイムでの利用に最適なプラン</td>
        </tr>
    </table>
</div>
<div class="plan">
    <table class="table">
        <tr>
            <td>プランテキスト</td>
        </tr>
        <tr>
            <td>
                <p>¥<span>5,000</span></p>
                月額<br />
            </td>
        </tr>
        <tr>
            <td>入会金0円</td>
        </tr>
        <tr>
            <td>平日 : 9時〜17時</td>
        </tr>
        <tr>
            <td>土日祝 : 利用ナシ</td>
        </tr>
        <tr>
            <td>コアタイムでの利用に最適なプラン</td>
        </tr>
    </table>
</div>