@use "../../variables" as *;
.card {
    border: none;
    .card-img {
        border-radius: 0;
        overflow: hidden;
        .img-flg {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            border-left: 150px solid $white;
            border-bottom: 150px solid transparent;
        }
        @media (min-width: $breakpoint-lg) {
            .card-img-top {
                position: relative;
                transition: 0.5s ease;
                &:hover {
                    overflow: hidden;
                    transform: scale(1.1);
                }
            }
        }
    }
    .card-title {
        z-index: 2;
        position: absolute;
        top: 0px;
        left: 9px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
        color: $orange_bistre;
        font-size: $fontsize-l;
    }
    .card-body {
        padding: 32px;
    }
    .card-text {
        font-size: $fontsize-s;
    }
    .card-button {
        display: flex;
        justify-content: center;
    }
}