@use "../../variables" as *;
header {
    position: absolute;
    width: 100%;
    @media (max-width: $breakpoint-xl) {
        position: initial;
    }
    .navbar {
        height: 90px;
        background-color: $black_50;
        width: auto;
        @media (max-width: $breakpoint-xl) {
            height: 60px;
            background-color: $black;
            padding: 10px 0px;
        }
        .navbar-brand {
            img {
                width: 140px;
                margin-left: 30px;
                @media (max-width: $breakpoint-xl) {
                    width: 120px;
                    margin-left: 16px;
                }
            }
        }
        .navbar-toggler {
            border: none;
            margin-right: 16px;
            width: 15px;
            &:focus {
                box-shadow: none;
            }
            .navbar-toggler-icon {
                width: 15px;
                background-image: url(../../../img/humberger-bar.svg);
            }
        }
        #navbarSupportedContent {
            margin-right: 30px;
            @media (max-width: $breakpoint-xl) {
                margin-right: 0;
                background-color: black;
            }
        }
        #navbarNavDropdown {
            display: block;
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        @media (max-width: $breakpoint-xl) {
                            background-image: url(../../../img/plus.svg);
                            background-repeat: no-repeat;
                            background-position: 98.5%;
                        }
                    }
                }
            }
        }
        .nav-item {
            font-size: $fontsize-s;
            .nav-link {
                display: block;
                padding: 35px 20px;
                color: $white;
                width: 100%;
                @media (max-width: $breakpoint-xl) {
                    padding: 15px 16px;
                    height: 50px;
                }
                &:hover {
                    @media (min-width: $breakpoint-xl) {
                        color: $gray_nobel;
                    }
                }
            }
        }
        .dropdown-menu {
            font-size: $fontsize-s;
            border: none;
            background-color: $black;
            padding: 0;
            margin-top: -1px;
            border-radius: 0;
            width: 220px;
            .dropdown-item {
                padding: 18px;
                transition: 0.2s ease;
                color: $white;
                &:hover {
                    background-color: $orange_bistre;
                }
                @media (max-width: $breakpoint-xl) {
                    padding: 15px 16px 15px 28px;
                    background-color: $black;
                    &:hover {
                        background-color: $black;
                    }
                }
            }
        }
    }
}