@use "../../variables" as *;
.outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: $breakpoint-lg) {
        padding: 52px, 20px, 52px, 20px;
    }
    @media (max-width: $breakpoint-lg) {
        padding: 32px 20px;
    }
    .title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        word-wrap: break-word;
        font-family: "Noto Serif JP";
        font-style: normal;
        font-weight: 400;
        @media (min-width: $breakpoint-lg) {
            font-size: 36px;
            line-height: 54px;
            padding: 0px 0px 10px;
        }
        @media (max-width: $breakpoint-lg) {
            font-size: 20px;
            line-height: 30px;
            padding: 0px 0px 6px;
        }
    }
    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        word-wrap: break-word;
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 36px;
        @media (min-width: $breakpoint-lg) {
            line-height: 36px;
        }
        @media (max-width: $breakpoint-lg) {
            line-height: 36px;
        }
    }
}