@use "../../variables" as *;
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 55px;
    background: $black;
    color: $white;
    font-size: $fontsize-s;
    text-decoration: none;
    transition: all 0.2s ease;
    &:hover {
        background: $orange_bistre;
        color: $white;
    }
    @media (max-width: $breakpoint-lg) {
        width: 150px;
        height: 55px;
    }
    @media (max-width: $breakpoint-md) {
        width: 180px;
        height: 45px;
    }
}