@use "../../variables" as *;
.cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    @media (max-width: $breakpoint-md) {
        display: block;
        padding-bottom: 0;
    }
    .card {
        width: 31%;
        @media (max-width: $breakpoint-md) {
            width: 100%;
            margin-bottom: 40px;
        }
    }
}